.app {
  height: 100%;
  background-color: #eaeded;
}

.headerLeftMenu__closeButton {
  position: fixed;
  background-position: -190px -288px;
  left: -20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("./assets/amazon-sprite.png");
  background-size: 350px;
  z-index: 99;
  transition: left 0.5s ease-in-out;
}

.header__menuOpened .headerLeftMenu__closeButton {
  left: 380px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.header__menuOpened .overlay {
  visibility: visible;
}
